@page "/meldungen/details/{Id:guid}"
@using Korrekturmanagementsystem.Components.Pages.Report.FormParts
@using Korrekturmanagementsystem.Dtos
@using Korrekturmanagementsystem.Dtos.Report
@using Korrekturmanagementsystem.Models
@using Korrekturmanagementsystem.Models.Enums
@using Korrekturmanagementsystem.Services.Interfaces
@using System.Text
@using Microsoft.AspNetCore.WebUtilities
@inject IReportService ReportService
@inject IAuthorizationService AuthorizationService
@inject NavigationManager Navigation
@rendermode InteractiveServer

@if (_viewModel != null)
{
    <h3 class="mb-4">Meldung bearbeiten</h3>

    <Notification Visible="@(!string.IsNullOrEmpty(_message))"
                  OnClose="@(() => _message = "")"
                  Message="@_message"
                  Type="_notificationType" />

    <ReportForm Model="@_viewModel"
                IsEdit="true"
                HasEditPermission="_hasEditPermission"
                ShowAttachments="@_showAttachments"
                OnToggleAttachments="ToggleAttachmentVisibility"
                OnImageLoaded="OnImageLoaded"
                OnValidSubmit="HandleValidSubmit"
                SelectedTagsChanged="HandleSelectedTagsChanged"
                IsSaved="@_isSaved" />


    <FileUploadPanel OnFilesChanged="files => selectedFiles = files.ToList()" HasEditPermission="_hasEditPermission" />

    if (_viewModel.Report.Id != Guid.Empty)
    {
        <div class="mb-4">
            <CommentSection ReportId="_viewModel.Report.Id" />
        </div>
    }

    <div class="mb-4">
        <ReportHistory HistoryEntries="_viewModel.ReportHistory" />
    </div>


}

@code {
    [Parameter] public Guid Id { get; set; }

    private ReportModel _viewModel = new();
    private bool _showAttachments = false;
    private HashSet<string> _loadedImages = new();
    private string _message = "";
    private List<IBrowserFile> selectedFiles = new();
    private bool _hasEditPermission;
    private bool _isSaved = false;
    private NotificationType _notificationType = NotificationType.Success;

    protected override async Task OnInitializedAsync()
    {
        SetMessageFromQuery();
        _hasEditPermission = await AuthorizationService.HasEditReportPermissonAsync(Id);
        var report = await ReportService.BuildEditReportViewModelAsync(Id);
        if (report is null)
        {
            ShowMessage("Beim Laden der Meldung ist etwas schief gelaufen!", NotificationType.Warning);
            return;
        }

        _viewModel = report;
    }

    private async Task HandleValidSubmit()
    {
        if (!_hasEditPermission)
        {
            ShowMessage("Sie sind nicht zum Bearbeiten der Meldung berechtigt!", NotificationType.Warning);
            return;
        }

        var result = await ReportService.UpdateReportAsync(_viewModel, selectedFiles);

        ShowMessage(result.Message ?? "Unbekannter Fehler.", result.IsSuccess ? NotificationType.Success : NotificationType.Error);

        if (result.IsSuccess)
        {
            var report = await ReportService.BuildEditReportViewModelAsync(Id);
            if (report is null)
            {
                ShowMessage("Beim Laden der Meldung ist etwas schief gelaufen!", NotificationType.Warning);
                return;
            }

            _viewModel = report;
            _isSaved = true;
            StateHasChanged();

            await Task.Delay(5000);
            _isSaved = false;
        }
    }

    private void OnImageLoaded(string fileName)
    {
        _loadedImages.Add(fileName);
        StateHasChanged();
    }

    private void ToggleAttachmentVisibility()
    {
        _showAttachments = !_showAttachments;
    }

    private Task HandleSelectedTagsChanged(List<TagDto> tags)
    {
        _viewModel.SelectedTags = tags;
        return Task.CompletedTask;
    }

    private void SetMessageFromQuery()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("msg", out var msg))
        {
            _message = msg;
            _notificationType = NotificationType.Success;

        }
    }

    private void ShowMessage(string message, NotificationType type)
    {
        _message = message;
        _notificationType = type;
    }
}
