@page "/Meldungen"
@using Korrekturmanagementsystem.Dtos
@using Korrekturmanagementsystem.Dtos.Report
@using Korrekturmanagementsystem.Services.Interfaces
@inject IReportProvider ReportService

<NavLink class="btn btn-success mb-3 float-end" href="/meldungen/neu">
    + Neue Meldung
</NavLink>

<h3 class="mb-4">Meldungen</h3>

<div class="report-list space-y-2">
    @if (Reports != null && Reports.Any())
    {
        @foreach (var report in Reports)
        {
            <div class="card border shadow-sm mb-2">
                <div class="card-body p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-1 h6">@report.Title</h5>
                        <em>Erstellt am: @report.CreatedAt.ToShortDateString()</em>
                    </div>
                    <div class="d-flex justify-content-between text-muted small">
                        <div>
                            <strong>Status:</strong> @report.StatusName |
                            <strong>Prio:</strong> @report.PriorityName
                        </div>
                        <em>Aktualisiert am: @report.UpdatedAt.ToShortDateString()</em>
                    </div>
                    <div class="mt-2 text-end">
                        <a class="btn btn-sm btn-primary" href="@($"/meldungen/details/{report.Id}")">Details</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Derzeit gibt es keine Meldungen</p>
    }
</div>

@code {
    private List<ReportOverviewDto> Reports { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Reports = (await ReportService.GetReportsOverviewAsync()).ToList();
    }
}
